.updatePrompt {
    width: 40%;
    height: 65%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
}

.updateBox {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.updateTitle {
    font-size: 20px;
    margin-top: 20px;
    color: #00D5FA;
    font-weight: bold;
    justify-content: center;
    display: flex;

}

.updateElement {
    color: black;
    font-size: 16px;
    /* padding-left: 50px;
    padding-top: 50px; */
    padding: 25px 20px 25px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.elementTitle {
    padding: 5px 5px 5px 5px;
}


input[type=updateProfileText] {
    width: 70%;
    margin-left: 20px;
    padding: 12px 20px;
    border: 1px solid rgb(79, 79, 79);
    border-radius: 8px;
    display: inline-block;
    box-sizing: border-box;
}

select {
    width: 70%;
    margin-left: 10px;
    padding: 12px 20px;
    border: 1px solid rgb(79, 79, 79);
    border-radius: 8px;
    display: inline-block;
    box-sizing: border-box;
}






.updateButton {
    position: absolute;
    padding: 5px 5px 5px 5px;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00D5FA;
    font-weight: bold;
    font-size: 18px;
}